.about-main-container{
    background: #202020;
    .about{
        display: flex;
        justify-content: space-between;
        padding: 4rem 6rem;
        .heading{
            width: 48%;
            text-transform: uppercase;
            h1{
                line-height: 60px;
                font-size: 32px;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }
        .company-brief{
            width: 48%;
            line-height: 26px;
            font-weight: 300;
            font-size: 18px;
            color: #AAAAAA;
        }
    }
}

// responsive
@media (min-width: 768px) and (max-width: 1300px) {
    .about{
      padding: 3rem 3rem !important;
    }
    .heading h1{
        font-size: 22px !important;
        letter-spacing: 1px !important;
        line-height: 50px !important;
    }
    p{
        font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    .about{
        flex-direction: column;
        padding: 3rem 2rem !important;
        .heading{
            margin-bottom: 20px;
            width: 100% !important;
        }
        .company-brief{
            width: 100% !important;
            p{
                font-size: 14px;
            }
        }
    }
    .about .heading h1{
        font-size: 18px !important;
        line-height: 28px !important;
    }
  }