.about-us-main-container {
    .slick-list{
        background-color: #fff;
        padding: 2rem 0rem;
    }
    .about-banner {
        padding: 6rem 6rem;
        color: #fff;
        background-size: cover;
        background-image: url('../pngs/Group\ 359.png');

        h1 {
            font-size: 62px;
            font-weight: 400;
            line-height: 94px;
        }

        p {
            font-size: 22px;
            font-weight: 300;
        }
    }

    .about-section {
        background-color: #fff;
        padding: 4rem 6rem;
        display: flex;
        position: relative;

        .about-description {
            border-radius: 10px;
            padding: 30px 16px;
            color: #AAAAAA;
            width: 620px;
            height: 350px;
            background-color: #252525;
            position: absolute;
            right: 6rem;
            top: 12rem;
            box-sizing: border-box;

            h2 {
                margin-bottom: 20px;
            }
        }
    }
            .project-slider{
                margin-bottom: 2rem;
                display: flex !important;
                align-items: center !important;
                h2{
                    color: #262626 !important;
                    font-size: 50px;
                    margin-right: 30px;
                }
                span{
                    color: #262626 !important;
                    font-size: 18px;
                    margin-right: 50px;
                }
    }
    .expertise-section{
        background-color: #121212;
        color: #fff;
        padding: 4rem 6rem;
        text-align: center;
        h2{
            font-size: 32px;
            line-height: 64px;
        }
        p{
            font-size: 18px;
        }
        .expertise-cards-section{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        .expertise-cards{
            position: relative;
            background: #1d1d1d;
            margin-top: 4rem;
            padding: 20px;
            border: 1px solid; /* Define the thickness of the border */
            border-image: linear-gradient(0deg, #6B6B6B, #121212);
            border-image-slice: 1;
            border-radius: 8px;
            h3{
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 500;
            }
            span{
                font-size: 12px;
                font-weight: 300;
            }
            .img{
                position: absolute;
                top: 0px;
                left: 50%;
                background-color: #2d2d2d;
                padding: 22px 24px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .join-our-team-section{
        padding: 4rem 6rem;
        background-color: #FBF1EF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
    .join-our-team-section .left{
        width: 48%;
        h3{
            font-size: 24px;
            font-weight: 500;
            color: #FEA903;
        }
        p{
            font-size: 28px;
            font-weight: 700;
            color: #121212;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
    .platform-review{
        padding: 4rem 6rem;
        background-color: #fff;
        img{
            width: 120px !important;
            cursor: pointer;
        }
        .slick-track{
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            gap: 30px !important;
        }
    }
}

//mobile responsive
@media screen and (max-width: 767px) {
    .about-banner{
        padding: 2rem !important;
        h1{
            font-size: 24px !important;
            font-weight: 400 !important;
            line-height: 34px !important;
        }
        p{
            font-size: 14px !important;
            font-weight: 300 !important;
        }
    }
    .about-section{
        position: initial !important;
        flex-direction: column;
        padding: 2rem !important;
        img{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .about-description{
        position: initial !important;
        width: 100% !important;
        height: 100% !important;
    }
    .expertise-section{
        padding: 2rem !important;
        h2{
            font-size: 22px !important;
            font-weight: 500 !important;
        }
        p{
            font-size: 16px !important;
            font-weight: 300 !important;
        }
        .expertise-cards-section{
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
    .join-our-team-section{
        padding: 2rem !important;
        flex-direction: column;
        .left{
            width: 100% !important;
            h3{
                font-size: 18px !important;
                font-weight: 500 !important;
            }
            p{
                font-size: 20px !important;
                font-weight: 700 !important;
                margin-top: 5px;
                margin-bottom: 16px !important;
            }
        }
        .right{
            width: 100% !important;
            margin-top: 20px;
        }
    }
    .platform-review{
        padding: 2rem !important;
        .img{
            img{
                width: 60px !important;
            }
        }
    }
    .project-slider{
        h2{
            font-size: 28px !important;
            font-weight: 700 !important;
        }
        span{
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }
    .about-us-main-container {
        .slick-list{
            padding: 1rem 0 !important;
        }
    }
}

//tab responsive
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .about-banner{
        padding: 2rem !important;
        h1{
            font-size: 50px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
    .about-section{
        position: initial !important;
        flex-direction: column;
        padding: 2rem !important;
        img{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .about-description{
        position: initial !important;
        width: 100% !important;
        height: 100% !important;
    }
    .expertise-section{
        padding: 2rem !important;
        .expertise-cards-section{
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }
    .join-our-team-section{
        padding: 2rem !important;
        .left{
            width: 100% !important;
            p{
                font-size: 24px !important;
            }
        }
    }
    .platform-review{
        padding: 2rem !important;
        .img{
            img{
                width: 60px !important;
            }
        }
    }
}