.blog-page-main-conatiner{
    padding: 2rem 6rem;
    background-color: #fff;
    .latest-blog{
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .left{
            width: 40%;
            img{
                width: 100%;
            }
        }
        .right{
            width: 54%;
            h2{
                font-size: 28px;
                font-weight: 400;
                color: #f9f9f9;
                line-height: 40px;
            }
            p{
                font-size: 20px;
                font-weight: 100;
                color: #f9f9f9;
                margin: 24px 0 60px 0;
                line-height: 30px;
            }
            .icon{
                display: flex;
                align-items: center;
                margin-top: 40px;
            }
            .icon span{
                padding: 16px 18px;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
    .latest-blog:hover{
        .icon span img{
            transition: 0.3s all ease;
            transform: rotate(45deg);
        }
    }
    .blogs-section{
        .input{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
            input{
                padding: 16px;
                width: 40%;
                border-radius: 50px;
                outline: none;
                border: 1px solid #9d9d9d;
            }
        }
        .blogs-cards-section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            .blog-card{
                width: 100%;
                height: 294px;
                background-image: url('../pngs/Group 499 (1).png');
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: flex-end;   
                padding-bottom: 24px;
                padding-left: 16px; 
                border-radius: 24px;
                cursor: pointer;
                span{
                    margin-right: 10px;
                    padding: 8px 12px;
                    border-radius: 50%;
                    background-color: #fff;
                    margin-bottom: 10px;
                    img{
                        width: 10px;
                    }
                }
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    color: #f9f9f9;
                    line-height: 28px;
                }
            }
            .blog-card:hover{
                img{
                    transition: 0.3s all ease-in-out;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

//mobile responsive
@media screen and (max-width: 767px) {
    .blog-page-main-conatiner{
        padding: 2rem !important;
        .latest-blog{
            flex-direction: column;
            box-sizing: border-box !important;
            .left{
                width: 100% !important;
            }
            .right{
                width: 100% !important;
                h2{
                    font-size: 22px !important;
                    font-weight: 400 !important;
                    margin-top: 16px !important;
                }
                .icon{
                    margin-bottom: 10px !important;
                }
            }
        }
    }
    .blogs-section{
        .input{
            input{
                width: 100% !important;
                box-sizing: border-box;
            }
        }
    }
    .blogs-cards-section{
        grid-template-columns: repeat(1, 1fr) !important;
        .blog-card{
            box-sizing: border-box;
            h3{
                font-size: 16px !important;
                font-weight: 500 !important;
            }
        }
    }
}

//tablet responsive
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .blog-page-main-conatiner{
        padding: 2rem !important;
        .latest-blog{
            box-sizing: border-box !important;
            .left{
                width: 50% !important;
            }
            .right{
                width: 44% !important;
            }
        }
    }
    .blogs-section{
        .input{
            input{
                width: 100% !important;
                box-sizing: border-box;
            }
        }
    }
    .blogs-cards-section{
        grid-template-columns: repeat(2, 1fr) !important;
        .blog-card{
            box-sizing: border-box;
            h3{
                font-size: 16px !important;
                font-weight: 500 !important;
            }
        }
    }
}