.blogs-main-container{
    padding: 0rem 6rem 4rem 6rem;
    h2{
        font-weight: 500;
    }
    .cards{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .large-card{
            width: 30%;
            border-radius: 16px;
            background-color: #fff;
            color: #000;
            padding: 30px 24px 30px 24px;
            .date{
                text-align: right;
                font-weight: 300;
                margin-bottom: 40px;
            }
            h4{
                font-weight: 500;
            }
            p{
                margin-bottom: 40px;
                font-weight: 300;
            }
        }
        .small-cards{
            width: 64%;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            cursor: pointer;
            .content div{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .card{
                width: 44%;
                border-radius: 16px;
                background-color: #262626;
                gap: 10px;
                padding: 19px 20px 25px 20px;
                margin-bottom: 16px;
                transition: transform 0.8s ease; /* Add transition here for smooth scaling */
            }
            .date{
                text-align: right;
                font-weight: 300;
                margin-bottom: 40px;
            }
            h4{
                font-weight: 500;
            }
            p{
                margin-bottom: 40px;
                font-weight: 300;
            }
        }
    }
}