.body-main-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../pngs/Frame 1 (2).png');
    background-repeat: no-repeat;
    background-size: contain;

    .upper-heading {
        background-color: #202020;
        color: #fd7702;
        font-size: 9rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .an1 {
            width: 32%;
            text-align: right;
        }

        .an2 {
            width: 42%;
            text-align: right;
        }

        .an3 {
            width: 90%;
            text-align: right;
        }
    }

    .body-animation {
      height: auto;
        font-size: 80px;
        line-height: 160px;
        letter-spacing: 4px;
        font-weight: 100;
        width: 100%;
        padding: 0px 6rem;
        margin-top: 16px;
        margin-bottom: 80px;
        box-sizing: border-box;
        b{
          font-weight: 500;
        }

        span {
            line-height: 40px;
        }

        .business {
            color: #fff;
            border: 2px solid #FEAA00;
            cursor: pointer;
            padding: 10px 40px;
            border-radius: 70px;
            position: relative;
            text-transform: uppercase;
            transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
          }
          
          .business:before {
            animation: opacityFallbackOut .5s step-end forwards;
            backface-visibility: hidden;
            background: linear-gradient(to left, #FFD80B, #FEAA00);  
            clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateZ(0);
            transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
            width: 100%;
            border-radius: 60px;
          }
          .business:hover{
            border: none;
            color: #000;
          }
          
          .business:hover:before {
            animation: opacityFallbackIn 0s step-start forwards;
            clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
            border-radius: 60px;
          }
          
          .business:after {
            background-color: #FFFFFF;
            border-radius: 50px;
          }
          
          .business span {
            z-index: 1;
            position: relative;
          }
    }
}

// responsive
@media (min-width: 768px) and (max-width: 1300px) {
  .body-animation{
    height: auto !important;
    font-size: 40px !important;
    line-height: 111px !important;
    padding: 0 3rem !important;
    margin-bottom: 0 !important;
    margin-top: 0px !important;
  }
  .business{
    padding: 20px 40px 14px 40px !important;
  }
  .create b{
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .body-main-container{
    background-image: url('../pngs/MobileBanner.png');
  }
  .body-animation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 28px !important;
    line-height: 20px !important;
    height: 28vh !important;
    padding: 0 1rem !important;
    margin-bottom: 0 !important;
    letter-spacing: 2px !important;
  }
}