.faq-main-container{
    background-color: #fff;
    color: #000;
    padding: 8rem 6rem;
    h2{
        font-weight: 300;
        font-size: 46px;
        margin-bottom: 40px;
    }
    .accordions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .accordion{
        padding: 30px 40px 30px 40px;
        background-color: #E7E7E7;
        border-radius: 18px;
        margin-bottom: 20px;
        cursor: pointer;
        .heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .activeFaq{
            transform: rotate(180deg);
        }
        // &:hover{
        //     background-color: #262626;
        //     color: #fff;
        // }
    }
    .accordion:hover{
        background-color: lightgray;
    }
}
// responsive
@media (min-width: 768px) and (max-width: 1300px) {
    .faq-main-container{
        padding: 4rem 3rem;
    }
    .accordions{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px !important;
    }
  }