.header-main-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  // background-image: url('../pngs/Frame 1 (2).png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: auto;
  padding: 0 5rem;
}

.company-logo {
  width: 20%;
  img{
    width: 150px;
  }
}

.company-logo span {
  margin-left: 44px;
  position: absolute;
  color: #fff;
  font-size: 12px;
  opacity: 0.5;
  top: 60px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.free-consultation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free-consultation span {
  margin-right: 10px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-icon-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.arrow-icon-main .rotated {
  transform: rotate(-45deg);
}

.arrow-icon-main .arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon-main.hovered {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.arrow-icon-main.hovered .arrow-icon {
  filter: invert(1);
}

.arrow-icon-main.hovered::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, white 50%, black 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s;
  border-radius: 50%;
}

.arrow-icon-main:hover::before {
  background-position: left;
}

.free-consultation:hover .arrow-icon-main {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.free-consultation:hover .arrow-icon-main .arrow-icon {
  filter: invert(1);
}

.free-consultation:hover .arrow-icon-main::before {
  background-position: -100% 0;
}

.sidebar {
  position: fixed;
  top: 0px;
  right: -500px; /* Off-screen initially */
  width: 430px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 99;
}
.sidebar.open {
  right: 0; /* Slide in from the right */
  overflow-y: scroll;
}
.close-icon {
  text-align: right;
  margin-top: 24px;
  margin-right: 30px;
  cursor: pointer;
}

.sidebar ul {
  margin-top: 0;
  list-style: none;
  padding: 0 36px;
  line-height: 40px; /* Adjusted line height for responsiveness */
  letter-spacing: 2px;
  margin-bottom: 100px;
}

.blogs, .portfolio-page, .home, .casestudy-page, .our-team, .our-clients, .our-testimonials, .contact-us, .case-study, .about-us, .career, .certifications{
  text-decoration: none;
  color: inherit;
}
.activeColor{
  color: #FEA900;
}
.sidebar{
  color: #000;
}

.sidebar ul li {
  padding: 12px 0;
  font-size: 25px; /* Adjusted font size for responsiveness */
  font-weight: 300;
  span{
    margin-left: 25px;
  }
}
.about-us-submenu{
  padding: 8px 0;
  font-weight: 100;
  transition: all 0.3s ease;
  p{
    font-weight: 400;
  }
  p:hover{
    color: #FEA900;
    cursor: pointer;
  }
}
.about-us,
.about-us span {
  color: black; // Initial color
}

.about-us.clicked,
.about-us.clicked span {
  color: #FEA900; // Color when clicked
  font-weight: 400;
}
.about-us.clicked {
  border-bottom: 2px solid #FEA900;
  width: 62%;
}

.about-us:hover,
.about-us.clicked:hover,
.about-us.clicked:hover span {
  color: #FEA900; // Color on hover or when clicked
}
.services-text{
  margin-top: 8px;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #FEA900;
  cursor: pointer;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: none;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}
.sidebar.open ~ .sidebar-overlay {
  display: block; /* Show the overlay when sidebar is open */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8px);
  z-index: 9;
}
// .active{
//   background: #fff;
//   background-image: none;
//   .free-consultation span{
//     color: #000;
//   }
//   .arrow-icon-main{
//     border: 1px solid #000;
//   }
//   .arrow-icon-main.hovered {
//     background-color: #000;
//     border-radius: 50%;
//     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
//     transform: scale(1.1);
//   }
  
//   .arrow-icon-main.hovered .arrow-icon {
//     filter: invert(100%);
//   }
// }

// responsive
@media (min-width: 768px) and (max-width: 1300px) {
  .header{
    padding: 0 3rem;
  }
  .free-consultation span{
    font-size: 18px;
  }
  .arrow-icon-main{
    width: 26px;
    height: 26px;
    img{
      width: 30%;
    }
  }
}
@media (max-width: 767px) {
  .header-main-container{
    background-size: auto;
  }
  .sidebar {
    position: fixed;
    top: 100px;
    right: -400px; /* Off-screen initially */
    width: 400px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 99;
  }
  .header{
    height: 80px;
    padding: 0 2rem;
  }
  .company-logo img{
    width: 120px;
  }
  .free-consultation span{
    font-size: 16px;
  }
  .arrow-icon-main{
    width: 22px;
    height: 22px;
    img{
      width: 30%;
    }
  }
}