.single-blog-page-container{
    color: #fff;
    padding: 4rem 6rem;
    h1{
        font-size: 52px;
        margin-bottom: 20px;
    }
    span{
        font-weight: 100;
        margin-right: 40px;
        color: rgba(128, 128, 128, 1);
    }
    .image img{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    p{
    color: rgba(128, 128, 128, 1);
    }
}