.testimonial-main-container{
    padding: 8rem 6rem;
    background-color: #fff;
    h2{
        color: #262626;
        font-weight: 400;
        font-size: 46px;
        margin-bottom: 40px;
    }
    .slick-list{
        background: #262626;
        border-radius: 20px;
        padding: 40px 40px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .slick-dots{
        bottom: -50px;
    }
    .clients-review{
        // display: flex;
        // align-items:self-start;
        // justify-content: center;
        img{
            margin-right: 12px;
        }
        .content{
            width: 95% !important;
            margin-top: 20px;
            .client-feedback{
                width: 98%;
                height: 100px;
                line-height: 30px;
                font-size: 18px;
                font-weight: 200;
            }
            .client-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 30px;
                    .video{
                        margin-right: 24px;
                        iframe{
                            border-radius: 8px;
                        }
                    }
                .client-detail{
                    display: flex;
                    align-items: center;
                }
                .about-client{
                    margin-left: 8px;
                }
                h3{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                }
                p{
                    font-size: 10px;
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 30px;
                }
            }
        }
    }
}
.testimonial{
    color: #000;
    .slider-button-right{
        background-color: #262626;
        right: 0px;
        bottom: 0;
    }
    .slider-button-left{
        background-color: #262626;
        right: 50px;
        bottom: 0;
    }
}
// responsive
@media (min-width: 768px) and (max-width: 1300px) {
    .testimonial-main-container{
        padding: 4rem 3rem;
        h2{
            font-size: 36px;
        }
    }
    .slick-list{
        padding: 20px !important;
    }
  }

@media (max-width: 767px) {
    .testimonial-main-container{
        padding: 3rem 2rem;
        h2{
            font-size: 18px;
            margin-bottom: 30px;
        }
        .testimonial{
            margin-top: 0 !important;
        }
        .client-content{
            flex-direction: column;
        }
        .clients-review{
            width: 90% !important;
        }
        .clients-review .content .client-feedback{
            font-size: 13px;
        }
        .clients-review .client-detail img{
            width: 20%;
        }
        .clients-review img{
            width: 10%;
        }
        .client-detail{
            margin-bottom: 40px;
        }
        .slick-list{
            padding: 30px;
        }
        .about-client h3{
            font-size: 16px !important;
            line-height: 14px !important;
        }
        .about-client p{
            font-size: 8px !important;
        }
        .slider-button-right{
            right: 50%;
        }
        .slider-button-left{
            right: 50% !important;
        }
    }
}